/*Seccion Contacto*/
@import '../base/extends';
@import '../base/mixins';

.contacto{
    @include structure(1.5em, center);
}

    /*
    margin-top: 1.5em;
    text-align: center;
*/
    .titulo{
        @extend %titulo;
    }

    h3{
        text-transform:none;
        font-size: 1.5em;
    }
    p{
        color: grey;
    }

/*Fin Seccion Contacto*/