/*Seccion Faq*/
@import '../base/extends';

.faq{
    margin-top: 1.5em;
    text-align: center;
    .titulo{
        @extend %titulo;
    }
    h3{
        text-transform: capitalize;
    }
    p{
        color: grey;
    }
}
/*Fin Seccion Faq*/