/*Footer*/
@import '../base/mapas';

.logo {
    border-radius: map-get($logo, border-radius);
    font-size: 90px;
    height: 100px;
    min-width: 100px;
    max-width: 110vw;
}

.powered{
    text-align: center;
    font-size: small;
}

/*Fin Footer*/