/*Header*/
@import '../base/mapas';
.header {
    background-image: url(../src/assets/img/img-tatuaje-principal.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

.logo {
    border-radius: map-get($logo, border-radius);
}

    .nav-link:hover {
        opacity: 0.7;
    }

    h1{
        font-size: 3rem;
    }

    .description {
        height: 30em;
        padding: 5.5em;
        align-items: center;
        color: whitesmoke;
    }

    p {
        color: whitesmoke;
        font-size: 1rem;
    }

    .fab {
        display: flex;
        padding-right: 2rem;
        font-size: 50px;
        justify-content: right;
        text-decoration: none;
    }

    .fab:hover {
        opacity: 0.7;
    }

    .fa-whatsapp {
        color: whitesmoke;
    }
}

/*Fin Header*/