/*Seccion Nosotros*/
@import '../base/extends';
@import '../base/mixins';

.nosotros{
    @include structure(1.5em, center);
    .titulo{
        @extend %titulo;
    }
    h3{
        text-transform: capitalize;
    }
    .subtitulo{
        color: grey;
    }
    .description {
        color: black;
    }

    .container-mini-descripcion{
        text-align: center;
    }
    .contenedor-mini-descripcion h3{
        color: black;
        font-size: 1em;
    }
}
/*Fin Seccion Nosotros*/