/*Seccion Nuestro Trabajo*/
@import '../base/extends';

.nuestro-trabajo{
    margin-top: 1.5em;
    text-align: center;
    overflow-x: hidden;

    .titulo{
        @extend %titulo;
    }

    h3{
        text-transform: capitalize;
    }
    p{
        color: grey;
    }
}
/*Fin Seccion Nuestro Trabajo*/