/*Seccion Nuestro Trabajo*/
.nuestro-trabajo{
    margin-top: 1.5em;
    text-align: center;
    overflow-x: hidden;
    
    .titulo{
        color: black;
        text-transform: uppercase;
        font-size: 1em;
    }
    h3{
        text-transform: capitalize;
    }
    p{
        color: grey;
    }
}
/*Fin Seccion Nuestro Trabajo*/