/*Seccion Nuestro Trabajo*/
@import '../base/extends';
@import '../base/mixins';

.nuestro-trabajo{
    @include structure(1.8em, center);
    overflow-x: hidden;

    .titulo{
        @extend %titulo;
    }

    h3{
        text-transform:none;
        font-size: 1.5em;
    }
    p{
        color: grey;
    }
}
/*Fin Seccion Nuestro Trabajo*/